/* Font Config */
@font-face {
  font-family: 'Milkyway';
  src: url('./assets/fonts/Milkyway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* General Styling */
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  font-family: 'Milkyway', sans-serif;
  background-color: #C1E1C1;
  text-align: center;
}

/* Welcome Page Styling */
.welcome-title {
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 80px;
}

.photobooth-name {
  color: #3B5E3B;
  text-shadow: none;
}

.start-button {
  background-color: #3B5E3B;
  color: #FFFFFF;
  font-size: 40px;
  border-radius: 100px;
  padding:15px 100px 5px 100px;
  margin-top: 150px;
  transition: background-color 0.3s, transform 0.3s;
}

.start-button:hover {
  background-color: #2E4B2E;
  transform: scale(1.1);
}